/* Basics */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #444;
  background-color: #fff;
}

.task-list-item {
  list-style: none;
}

.icon-container .mega-octicon {
  line-height: 68px;
}

/* Columns & Layout */

.wrap {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

article.full .content-body {
  width: 850px;
  padding-bottom: 30px;
  font-size: 16px;
}

article.full .content-body.full-width {
  width: 100%;
}

.toc-wrapper {
  float: right;
  width: 300px;
}

.tocify {
    width: 300px;
}

ol.toc {
  margin: 0;
}
.tocify.sticky {
  position: fixed;
  top: 20px;
}

.article-heading {
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, .15);
  background-color: #aaa;
}

.article-header-pattern {
  position: absolute;
  z-index: 1;
  display: none;
}

.article-heading .wrap {
  position: relative;
  z-index: 2;
  padding: 50px 0;
  color: #fff;
}

.article-heading .icon-container {
  position: absolute;
  display: inline-block;
  float: left;
  margin-top: 50px;
  margin-right: 20px;
}

.article-pdf {
  margin-left: 108px;
  clear: left;
}

/** Buttons **/

.btn-lg {
    padding: 10px 16px;
    font-size: 23px;
    line-height: 1.33;
    border-radius: 6px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    background-image: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-transparent:hover {
    background-color: #fff;
    color: rgb(104, 33, 122);
}

.btn-transparent {
    color: #fff;
    background-color: transparent;
}
.btn-download {
    border: 1px solid #FFFFFF;
    box-shadow:none;
    text-shadow: none;
}

/** End of Buttons **/

.article-meta {
  color: rgba(255, 255, 255, .7);
}

.article-meta .octicon {
  position: relative;
  top: -1px;
}

.alert {
  position:relative;
  padding:15px;
  margin:0 auto;
  color:#264c72;
  background-color: #d8ebf8;
  border: 1px solid #97c1da;
  border-radius: 3px;
}

.alert *:first-child { margin-top: 0; }
.alert *:last-child { margin-bottom: 0; }

/* Main site styles */

a {
  color: #4183c4;
  text-decoration: none;
}

header {
  padding: 35px 0 20px;
}
header img {
  opacity: .8;
}
header ul.links {
  float: right;
  padding: 0;
  margin: 2px 0 0;
}
header ul.links>li {
  display: inline-block;
  margin-left: 20px;
  font-size: 22px;
  font-weight: bold;
  list-style-type: none;
}
header ul.links>li a {
  color: #999;
}


article {
  line-height: 1.5;
}
article h1 {
  margin-bottom: 10px;
  margin-left: 105px;
  font-size: 48px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -1px;
}

.article-heading img {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}
.icon-container {
margin-left: 15px;
}
article img {
  max-width: 100%;
  padding: 2px;
  margin-top: 8px;
  background: #fafafa;
  border: 1px solid #eee;
}
article img.emoji {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.3;
  color: #999;
  text-align: center;
}
footer .mega-octicon {
  color: #ddd;
}

/* Table of Contents */
ol.toc {
  padding: 0;
}
ol.toc>li {
  padding: 5px 0;
  margin: 0;
  font-size: 16px;
  list-style-type: none;
}
ul.toc>li a.active {
  font-weight: bold;
  color: #444;
}

.last-updated {
  padding-top: 30px;
  font-size: 14px;
  color: #999;
}

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.pd-embedded {
  margin: 20px 0;
}

.nav-rss a .octicon-rss {
  color: #ff6600;
}

@media only screen and (min-width: 1160px) and (max-width: 1259px) {
  article.full .content-body {
    width: 800px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1159px) {
  article.full .content-body {
    width: 600px;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  article.full .content-body {
    width: 500px;
  }
  .toc-wrapper {
    width: 200px;
  }
  .tocify {
      width: 200px;
  }
}

@media only screen and (max-width: 767px) {
  html, body {
    font-size: 15px;
  }
  .nav-github, .nav-rss {
    display: none ! important;
  }
  .article-heading .wrap {
    padding: 30px 0;
  }
  article h1 {
    margin-left: 96px;
    font-size: 34px;
  }
  article.full .content-body {
    width: 100%;
  }
  .toc-wrapper {
    display: none;
  }

  footer {
    font-size: 12px;
  }
}
