/*

Visual Studio-like style based on original C# coloring based on work of Jason Diamond <jason@diamond.name>

*/
.hljs-comment {
  color: #008000;
}

.hljs-pscommand,
.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-tag {
  color: #0101FD;
}

.hljs-name {
  color: #a2152a;
}

.hljs-literal {
  color: #0101FD;
}

.hljs-string,
.hljs-section,
.hljs-template-tag,
.hljs-template-variable,
.hljs-deletion,
.hljs-code {
  color: #a31515;
}

.hljs-parameter,
.hljs-type,
.hljs-attribute,
.hljs-title,
.hljs-addition,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #007d9a;
}

.hljs-doctag {
  color: #737373;
}

.hljs-attr {
  color: #f00;
}

.hljs-control {
  color: #af00db;
}

.hljs-helper {
  color: #795e26;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-reserved,
.hljs-constant {
  color: #cd3131;
}

.line-highlight {
  margin: 0 -12px;
  padding: 1px 12px;
  background-color: #ffc;
}

.language-xml .hljs-string {
  color: #0000ff;
}