<!DOCTYPE HTML>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118159526-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118159526-1');
</script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>Security Code Scan</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="components/gridism/gridism.css">
  <link rel="stylesheet" href="components/primer/markdown.css">
  <link rel="stylesheet" href="components/primer/octicons.css">
  <link href="stylesheets/main.css" rel="stylesheet">
  <link href="stylesheets/vs.css" rel="stylesheet">
  <link href="stylesheets/jquery.tocify.css" rel="stylesheet">

  <script src="javascripts/jquery.js" type="text/javascript"></script>
  <script src="javascripts/jquery-ui.min.js" type="text/javascript"></script>
  <script src="javascripts/snap.svg-min.js" type="text/javascript"></script>
  <script src="javascripts/application.js" type="text/javascript"></script>
  <script src="javascripts/jquery.tocify.js" type="text/javascript"></script>
  <script src="javascripts/highlight.pack.js" type="text/javascript"></script>

  <script type="text/javascript">
              $(function() {
                  //Calls the tocify method on your HTML div.
                  $("#toc").tocify({ theme: "none",
                                     context: ".markdown-body",
                                     hashGenerator: tocifyHasher});
                $(".tocify-item").on('click', function() {
                  trackLink('anchor', $(this)[0].attributes["data-unique"].nodeValue);
                });
                $("a").each(function() {
                    var href = $(this).attr("href");
                    if(href != null) {
                        $(this).on('click', function() {
                            trackLink('outbound', $(this).attr("href"));
                        });
                    }
                });
                var trackLink = function(category, url) {
                  gtag('event', 'click', {
                    'event_category': category,
                    'event_label': url
                  });
                }
              });
              hljs.initHighlightingOnLoad();
  </script>

</head>
<body>

  <article class="full">
  <div class="article-heading js-article-heading js-geopattern" style="background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDMiIGhlaWdodD0iMjAzIj4gIDxnIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLXdpZHRoPSIxcHQiPgogICAgPHBhdGggZmlsbD0iIzAwNTdiOCIgZD0iTTAgMGgyMDN2MjAzSDB6Ii8+CiAgPC9nPgo8L3N2Zz4=);">
    <div class="wrap">
      <div class="icon-container">
        <img src="images/scs.png">
      </div>
      <h1>Security Code Scan - static code analyzer for .NET</h1>
      <div class="article-pdf article-meta"><h3 class="article-meta">Download:</h3>
      <a class="article-meta btn btn-default btn-lg btn-transparent btn-download" href="https://www.nuget.org/packages/SecurityCodeScan.VS2019/">
        <span class="octicon octicon-cloud-download"></span> NuGet package
      </a>
      <a class="article-meta btn btn-default btn-lg btn-transparent btn-download" href="https://marketplace.visualstudio.com/items?itemName=JaroslavLobacevski.SecurityCodeScanVS2019">
        <span class="octicon octicon-cloud-download"></span> Visual Studio extension
      </a>
      <a class="article-meta btn btn-default btn-lg btn-transparent btn-download" href="https://www.nuget.org/packages/security-scan/">
        <span class="octicon octicon-cloud-download"></span> Stand-alone runner
      </a>
      </div>
    </div>
  </div>

  <div class="wrap">
  
    <div class="toc-wrapper">
      <div id="toc"></div>
    </div>

    <div class="markdown-body content-body ">
  
  {{ content }}
      
    </div>
  </div>
</article>
  
    <footer>
    <div class="wrap">
      <span class="mega-octicon octicon-mark-github"></span>
    </div>
  </footer>

</body>
</html>
